<form method="post" action="{{ path('artist_blogposts_delete', {'id': blogpost.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer le post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blogpost.id) }}">
    <button class="btn btn-danger m-2">Supprimer</button>
</form>
