{{ form_start(form) }}
    
    <div class="form-group mb-2">
        <label for="titre" class="col-sm-2 col-form-label">Titre :</label>
        {{ form_widget(form.titre, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.titre) }}
    </div>
    <div class="form-group mb-2">
        <label for="description">Message :</label>
        {{form_widget(form.content, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.content) }}
    </div>    
    <button class="btn btn-success">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
