{% extends 'base.html.twig' %}

{% block title %}Modifier un posts{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}

    <h1 class="text-center">Modifier un posts</h1>
<div class="container">
    <div class="m-2">
        {{ include('artist_blogposts/_form.html.twig', {'button_label': 'Valider'}) }}
    </div>
    {{ include('artist_blogposts/_delete_form.html.twig') }}
    <a class="text-danger m-2" href="{{ path('artist_blogposts_index') }}">Retour</a>
</div>
{% endblock %}
