{% extends 'base.html.twig' %}

{% block title %}Blogposts index{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
<h1 class="text-center text-info">Vos différents posts</h1>
<div class="d-flex flex-column justify-content-center">
    
    <div class="d-flex justify-content-center align-items-center">
        <span class="h4 text-success">Créer un post :</span><a href="{{ path('artist_blogposts_new') }}" class="btn btn-success m-1">Créer</a>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        
        {% for blogpost in blogposts %}
            
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ blogpost.titre }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Date {{ blogpost.createdAt ? blogpost.createdAt|date('Y-m-d H:i:s') : '' }}</h6>
                    <p class="card-text">{{ blogpost.content }}</p>
                    
                    <a href="{{ path('artist_blogposts_show', {'slug': blogpost.slug}) }}" class="card-link text-warning">Détail</a>
                    <a href="{{ path('artist_blogposts_edit', {'slug': blogpost.slug}) }}" class="card-link">Modifier</a>
                </div>
            </div>
        {% else %}
            <div>
                <p>Aucun élément trouvé</p>
            </div>
        {% endfor %}
        
    </div>
</div>
    
{% endblock %}
