{% extends 'base.html.twig' %}

{% block title %}New Blogposts{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
    <h1 class="text-center">Créer un post</h1>
    <div class="container">
        {{ include('artist_blogposts/_form.html.twig') }}
    
        <div><a class="text-danger" href="{{ path('artist_blogposts_index') }}">Retour</a></div>
    </div>
{% endblock %}
