{% extends 'base.html.twig' %}

{% block title %}Post détail{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="card m-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ blogpost.titre }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Date {{ blogpost.createdAt ? blogpost.createdAt|date('d-m-Y') : '' }}</h6>
            <p class="card-text">{{ blogpost.content }}</p>
            
            <a href="{{ path('artist_blogposts_edit', {'slug': blogpost.slug}) }}" class="card-link">Modifier</a>
        </div>
    </div>
    {{ include('artist_blogposts/_delete_form.html.twig') }}
    <a class="text-dark m-2" href="{{ path('artist_blogposts_index') }}">Retour</a>    
</div>
{% endblock %}
