{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
{% include "partials/navbarHome.html.twig" %}

<div class="container">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
    <label class="mb-1" for="inputEmail">Email :</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label class="mb-1" for="inputPassword">Password :</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary mt-2" type="submit">
            Connexion
        </button>
        
    </div>
</form>
<p class="text-center"><a href="{{ path("app_forgot_password_request") }}">Mot de passe oublié ?</a></p>

</div>
{% endblock %}
