{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block body %}       
{% include "partials/navbarHome.html.twig" %}
<div class="bloc-about">

    <div class="bloc-content">
        <h1 class="bloc-h1">{{ title }}</h1>
        <p class="bloc-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto sint eligendi nostrum, eius, ullam, porro rem totam minus ratione adipisci quam molestias. Repellat molestias et, quisquam in deleniti animi facere.</p>
    </div>
</div>


{% endblock %}
