{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}       
{% include "partials/navbarHome.html.twig" %}

<div class="d-flex justify-content-center m-2">
    <div class="contact">
        <div class="card" style="width: 18rem;">        
            <div class="card-body">
                <h3 class="card-title">Contact</h3> 
                <p>Mail : artistLorem@lorem.com</p>  
                <p>Téléphone : xxx xxx xxx</p>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                <div class="d-flex justify-content-center"><a href="{{ path('app_home') }}" class="btn btn-warning">Retour</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
