{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body_class %}home-bg{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    <link rel="stylesheet" href="{{ asset('./cssAccueil/homecss.css') }}">
{% endblock %}

{% block body %}    
{% include "partials/navbarHome.html.twig" %}
    <div class="homeBg">

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}    
        <div id="root">    
            <div id="home"></div>   
        </div>  

        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('heure') }}
        {% endblock %} 
    </div>
    <div class="d-flex justify-content-center align-items-center img-background">
        <div class="d-flex justify-content-center align-items-center">
            <a href="{{ path("app_peinture") }}" class="bouton-un">Mes peintures</a>
            <a href="{{ path("app_blog") }}" class="bouton-deux">Le blog</a>
        </div>
    </div>
    <div class="accueil-text">
        <h3 class="text-center">Lorem ipsum</h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod perferendis non modi, aliquid delectus aut saepe, libero officiis laborum, quae veritatis ad ducimus blanditiis eum! Asperiores illum amet ea.</p>
    </div>

{% endblock %}
