{% extends 'base.html.twig' %}

{% block title %}Peintures{% endblock %}


{% block body %}  
{% include "partials/navbarHome.html.twig" %}
<div class="peinture-liste">
{% for peinture in peintures %}
    <div class="bloc-peinture">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset("uploads/images/"~ peinture.fileImg) }}" class="card-img-top" alt="{{ peinture.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ peinture.titre }}</h5>
                <p class="card-text">{{ peinture.description }}</p>
                <a href="{{ path('app_show_peinture', {'slug': peinture.slug}) }}" class="btn btn-primary">Plus de détails</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}