{% extends 'base.html.twig' %}

{% block title %}Peinture détails{% endblock %}

{% block body %}  
{% include "partials/navbarHome.html.twig" %}
<div class="peinture-liste-show">

    <div class="bloc-peinture-show">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset("uploads/images/"~ peinture.fileImg) }}" class="card-img-top" alt="{{ peinture.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ peinture.titre }}</h5>
                <p class="card-text">{{ peinture.description }}</p>       
                <div>
                    <h5>Dimenssion du tableau</h5>
                    <p>Hauteur en cm : {{ peinture.hauteur }}</p>
                    <p>Largeur en cm : {{ peinture.largeur }}</p>
                    <h5>En vente :</h5>
                    {% if peinture.enVente %}
                        Oui
                        {% else %}
                        Non
                    {% endif %}
                    <h5>Date de publication</h5>
                    <p>{{ peinture.createdAt.format('d/m/Y') }}</p>
                </div>         
            </div>
        </div>
    </div>

</div>
<div class="container">
    <h3 class="text-center m-2">Ajouter un commentaire</h3>
{{ form_start(form) }}
            <div class="form-group">
                <label class="custom-control-label" for="auteur">Votre nom :</label>
                {{ form_widget(form.auteur, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.auteur) }} 
            </div>
            <div class="form-group">
                <label class="custom-control-label" for="content">Votre message :</label>
                {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.content) }}
            </div>
            
            <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Valider</button>                
            </div>
{{ form_end(form) }}
</div>
<div class="container">
    <h3 class="text-center m-2">Liste des Commentaires</h3>
    <div class="blog-commentaires m-2">
        {% for comment in commentaries %}
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.auteur }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Publié le {{ comment.createdAt.format('d/m/Y') }}</h6>
                    <p class="card-text">{{ comment.content }}</p>    
                </div>
            </div>
        {% else %}
            <p>
                <span>Aucun commentaire posté</span>
            </p>
        {% endfor %}
    </div>

    {# pagination #}

    {% set pages = ((total / limit)|round(0, 'ceil')) %}

{% if commentaries is not empty %}
    
<div class="blog-commentaires">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {{ page == 1 ? 'disabled' : '' }}">
        <a
          class="page-link"
          href="{{ (page > 1 ) ? '?page='~ (page - 1) : '' }}"
          >Previous</a
        >
      </li>
      {% for item in 1..pages %}
      <li class="page-item {{ page == item ? 'active' : '' }}">
        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
      </li>
      {% endfor %}
      <li class="page-item {{ page == pages ? 'disabled' : '' }}">
        <a
          class="page-link"
          href="{{ (page < pages ) ? '?page='~ (page + 1) : '' }}"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
{% else %}

{% endif %}   
</div>
{% endblock %}