{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% include "partials/navbarHome.html.twig" %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>

<div class="container">
    {{ form_start(registrationForm) }}
        
        <div class="form-group">
            <label class="custom-control-label" for="nom">Nom :</label>
            {{ form_widget(registrationForm.nom, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.nom) }} 
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="prenom">Prénom :</label>
            {{ form_widget(registrationForm.prenom, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.prenom) }}
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="aPropos">Présentez-vous :</label>
            {{ form_widget(registrationForm.aPropos, { 'attr': {'class': 'form-control', 'rows': 3} }) }}
            {{ form_errors(registrationForm.aPropos) }}
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="aPropos">Votre email :</label>
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(registrationForm.email) }}
        </div>        
        <div class="form-group">
            <label for="password" class="col-sm-2 col-form-label">Mot de passe :</label>
            {{ form_widget(registrationForm.plainPassword.first, {
            'attr': {'class': 'form-control', "autocomplete": "on"}
            }) }}
            {{ form_errors(registrationForm.plainPassword.first) }}
        </div>
        <div class="form-group">
            <label class="custom-control-label" for="password">Confirmez votre mot de passe :</label>
            {{ form_widget(registrationForm.plainPassword.second, {
            'attr': {'class': 'form-control', "autocomplete": "on"}
            }) }}
            {{ form_errors(registrationForm.plainPassword.second) }}                
        </div>

        <div class="custom-control custom-checkbox text-center">
            <label class="custom-control-label" for="nom">Cocher la case pour valider l'inscription :</label>
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': "custom-control-input"} }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>


        <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Inscription</button>
                {{ form_end(registrationForm) }}
        </div>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}
