<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("app_home") }}">Le coin artiste</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("profil_accueil_index") }}">Tableau de bord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("artist_blogposts_index") }}">Votre blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('artist_index-painting') }}">Vos peintures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('artist_profil') }}">Votre profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>         
      </ul>
    </div>
  </div>
</nav>