<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path("app_home") }}">Le coin artiste</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("admin_index") }}">Administration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("admin_commentaires_index") }}">Gestion des commentaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('admin_user_index') }}">Gestion des utilisateurs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('admin_categories_index') }}">Gestion des catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-light" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>         
      </ul>
    </div>
  </div>
</nav>