<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Le coin artiste</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_home") }}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_peinture") }}">Peintures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path("app_blog") }}">Mon blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_about') }}">À propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('app_contact') }}">Contact</a>
        </li>  
        {% if(is_granted('IS_AUTHENTICATED_FULLY') ) %}
          {% if(is_granted('ROLE_ADMIN')) %}
            <li class="nav-item">
              <a class="nav-link active text-info" href="{{ path('admin_index') }}">Profil-Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('app_register') }}">Page Inscription</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
          {% endif %}
          {% if(is_granted('ROLE_ARTIST')) %}
            <li class="nav-item">
              <a class="nav-link active text-info" href="{{ path('profil_accueil_index') }}">Profil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('app_logout') }}">Déconnexion</a>
            </li> 
          {% endif %}
        {% else %}          
          <li class="nav-item">
            <a class="nav-link active text-info" href="{{ path('app_login') }}">Connexion</a>
          </li>  
        {% endif %}        
        
      </ul>
    </div>
  </div>
</nav>