{{ form_start(form) }}
        
    <div class="form-group mb-2">
        <label for="titre" class="col-form-label mb-1">Nom de la catégorie :</label>
        {{ form_widget(form.nom, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="form-group mb-2">
        <label for="description" class="col-form-label mb-1">Description de la catégorie :</label>
        {{form_widget(form.description, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.description) }}
    </div>  
    <div class="d-flex flex-column align-items-center">
        <div><button class="btn btn-success">{{ button_label|default('Créer') }}</button></div>
    </div>  
{{ form_end(form) }}
