{% extends 'base.html.twig' %}

{% block title %}Formulaire de modification{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-4">Modifier la catégorie</h1>
<div class="container">
    {{ include('admin_categories/_form.html.twig', {'button_label': 'Modifier'}) }}   
    <div class="d-flex flex-column align-items-center">
        <div class="m-2">{{ include('admin_categories/_delete_form.html.twig') }}</div>

        <div class="m-2"><a href="{{ path('admin_categories_index') }}" class="text-dark">Retour</a></div>
    </div>
</div>
{% endblock %}
