{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-4">Les catégories du site</h1>
<div class="table-responsive m-2">
    <table class="table table-dark table">
        <thead>
            <tr class="table-secondary">                
                <th>Nom</th>
                <th>Description</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>                
                <td class="table-secondary">{{ category.nom }}</td>
                <td>{{ category.description }}</td>                
                <td>
                    <a href="{{ path('admin_categories_show', {'slug': category.slug}) }}" class="text-warning">Voir plus</a>
                    <a href="{{ path('admin_categories_edit', {'slug': category.slug}) }}" class="text-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune catégorie n'est présente</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="d-flex flex-column align-items-center">
    <div><a href="{{ path('admin_categories_new') }}" class="btn btn-primary">Créer une nouvelle catégorie</a></div>
</div>
{% endblock %}
