{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégories{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-4">Créer une nouvelle catégories</h1>
<div class="container">
    {{ include('admin_categories/_form.html.twig') }}
</div>
<div class="d-flex flex-column align-items-center m-2">
    <div><a href="{{ path('admin_categories_index') }}" class="text-dark">Retour</a></div>
</div>
{% endblock %}
