{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-4">La catégorie en détail</h1>
<div class="table-responsive m-2">
    <table class="table">
        <tbody>
            
            <tr>
                <th class="table-secondary">Nom</th>
                <td class="table-dark">{{ category.nom }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Description</th>
                <td class="table-dark">{{ category.description }}</td>
            </tr>
            
        </tbody>
    </table>
</div>

<div class="d-flex flex-column align-items-center">
    <div class="m-2"><a href="{{ path('admin_categories_edit', {'slug': category.slug}) }}" class="btn btn-primary">Modifier</a></div>

    <div class="m-2">{{ include('admin_categories/_delete_form.html.twig') }}</div>
    <div class="m-2"><a href="{{ path('admin_categories_index') }}" class="text-dark">Retour</a></div>

</div>
{% endblock %}

