{{ form_start(form) }}    
    <div class="form-group mb-2">
        <label for="titre" class="col-form-label mb-1">Auteur :</label>
        {{ form_widget(form.auteur, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.auteur) }}
    </div>
    <div class="form-group mb-2">
        <label for="description" class="col-form-label mb-1">Description :</label>
        {{form_widget(form.content, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.content) }}
    </div> 
    <div class="form-group mb-2">
        <label for="description" class="col-form-label mb-1">Date et heure:</label>
        {{form_widget(form.createdAt, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.createdAt) }}
    </div>  
    <div class="d-flex flex-column align-items-center">
        <button class="btn btn-warning">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
