{% extends 'base.html.twig' %}

{% block title %}Modifier Commentaires{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}

<h1 class="text-center m-2">Modifier le Commentaire</h1>
<div class="container">
    {{ include('admin_commentaires/_form.html.twig') }}
    <div class="d-flex flex-column align-items-center">
        <div class="m-2">{{ include('admin_commentaires/_delete_form.html.twig') }}</div>

        <div class="m-2"><a href="{{ path('admin_commentaires_index') }}">Retour à la liste</a></div>
    </div>
</div>
{% endblock %}
