{% extends 'base.html.twig' %}

{% block title %}Commentaires index{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-2">Tous les commentaires</h1>
<div class="table-responsive m-2">
    <table class="table table-dark table">
        <thead>
            <tr class="table-secondary">                
                <th>Auteur</th>
                <th>Description</th>
                <th>Date et heure</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>                
                <td>{{ commentaire.auteur }}</td>
                <td>{{ commentaire.content }}</td>
                <td>{{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y / H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_commentaires_show', {'id': commentaire.id}) }}" class="text-warning">Voir plus</a>
                    <a href="{{ path('admin_commentaires_edit', {'id': commentaire.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>  
{% endblock %}
