{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h1 class="text-center m-2">Détail du commentaire</h1>

   <div class="d-flex flex-column align-items-center"> 
        <div class="card m-1" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Auteur: {{ commentaire.auteur }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Publié le {{ commentaire.createdAt.format('d/m/Y') }}</h6>
                <p class="card-text">Contenu: {{ commentaire.content }}</p>    
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-center">
        <div class="m-1"><a href="{{ path('admin_commentaires_edit', {'id': commentaire.id}) }}" class="btn btn-warning">Modifier</a></div>

        <div class="m-1">{{ include('admin_commentaires/_delete_form.html.twig') }}</div>

        <div class="m-1"><a href="{{ path('admin_commentaires_index') }}" class="text-dark">Retour à la liste</a></div>
    </div>
{% endblock %}
