{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}

<div>

    <h1 class="text-center m-2">{{ title }}</h1>
    <div class="d-flex flex-column align-items-center m-3">
        <div><a class="btn btn-primary m-2" href="{{ path("admin_user_index") }}">Voir les utilisateurs</a></div>
        <div><a class="btn btn-warning m-2" href="{{ path("admin_categories_index") }}">Voir les catégories</a></div>
        <div><a class="btn btn-dark m-2" href="{{ path("admin_commentaires_index") }}">Vérifier les commentaires</a></div>
    </div>
</div>
{% endblock %}
