{% extends 'base.html.twig' %}

{% block title %}Hello ProfilAccueilController!{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}

<div class="profil-accueil">
    <div class="container">
        <h1 class="text-center m-4 text-success">Hello, {{ user.prenom }} !</h1>

        <h3 class="text-center m-2">Gérer votre blog</h3>
        <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, voluptas! Nam deleniti suscipit, modi porro consequuntur consequatur labore, magni voluptatum animi maxime saepe, reiciendis laudantium quis quae fugiat libero quibusdam?
        Ipsam rerum veritatis unde et adipisci non accusamus voluptas delectus blanditiis quam ducimus, iste pariatur architecto! At, sit ex libero cupiditate porro expedita debitis tempora ad, quidem consequatur quia placeat!</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{{ path("artist_blogposts_index") }}">Voir vos posts</a>
        </div>
        <h3 class="text-center m-2">Ajouter vos peintures</h3>
        <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, voluptas! Nam deleniti suscipit, modi porro consequuntur consequatur labore, magni voluptatum animi maxime saepe, reiciendis laudantium quis quae fugiat libero quibusdam?
        Ipsam rerum veritatis unde et adipisci non accusamus voluptas delectus blanditiis quam ducimus, iste pariatur architecto! At, sit ex libero cupiditate porro expedita debitis tempora ad, quidem consequatur quia placeat!</p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-info" href="{{ path("artist_index-painting") }}">Voir vos oeuvres</a>
        </div>
    </div>
</div>
{% endblock %}
