<form method="post" action="{{ path('artist_delete', {'id': peinture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ peinture.id) }}">
    <button class="btn btn-danger m-2">Supprimer</button>
</form>
