{{ form_start(form) }}

    <div class="form-group mb-2">
        <label for="titre" class="col-sm-2 col-form-label">Titre :</label>
        {{ form_widget(form.titre, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.titre) }}
    </div>   
    <div class="form-group mb-2">
        <label for="largeur">Largeur du tableau :</label>
        {{form_widget(form.largeur, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.largeur) }}
    </div>   
    <div class="form-group mb-2">
        <label for="hauteur">Hauteur du tableau :</label>
        {{form_widget(form.hauteur, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.hauteur) }}
    </div> 
    <div class="form-group mb-2">
        <label for="enVente">En vente :</label>
        {{form_widget(form.enVente, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.enVente) }}
    </div>  
    <div class="form-group mb-2">
        <label for="prix">Le prix de vente :</label>
        {{form_widget(form.prix, {'attr': {"class" : "form-control form-control-sm"}}) }}
        {{ form_errors(form.prix) }}
    </div> 
    <div class="form-group mb-2 date">
        <label for="createdAt" class="custom-control-label">Choisir la date :</label>            
        {{ form_widget(form.createdAt, {'attr': {"class" : "form-control d-flex flex-row m-1", "type": "datetime-local"}}) }}
        {{ form_errors(form.createdAt) }}
            
    </div>
    <div class="form-group mb-2 custom-file">
            <label for="fileImg" class="custom-control-label">Choisir une Image :</label>
            {{ form_widget(form.fileImg) }}
    </div>
    <div class="form-group mb-2">
            <label for="description" class="custom-control-label">Lieu :</label>
            {{ form_widget(form.description, {'attr': {"class" : "form-select"}}) }}
            {{ form_errors(form.description) }}
    </div>

    <div class="form-group mb-2">
            <div id="space-checkbox" class="d-flex flex-column m-2">
            <label for="categories" class="custom-control-label">La catégorie :</label>               
            {{ form_widget(form.categories, {'attr': {"class" : "key custom-control-input"}}) }}                
            {{ form_errors(form.categories) }}                
            </div>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-success">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}
