{% extends 'base.html.twig' %}

{% block title %}Modifier une peinture{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('./cssAccueil/profil.css') }}">
{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
<h3 class="text-center p-2">Modifier l'oeuvre : {{ peinture.titre }}</h3>
<div class="d-flex flex-column align-items-center">
    {{ include('artist/_form.html.twig', {'button_label': 'Modifier'}) }}


    {{ include('artist/_delete_form.html.twig') }}
</div>
    <a href="{{ path('artist_index-painting') }}" class="text-danger">Retour</a>
{% endblock %}
