{% extends 'base.html.twig' %}

{% block title %}Peintures index{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
    <h1 class="text-center text-info">Vos peintures</h1>
<div class="d-flex flex-wrap justify-content-center">
    

        {% for peinture in peintures %}
            
            <div class="bloc-peinture m-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{ asset("uploads/images/"~ peinture.fileImg) }}" class="card-img-top" alt="{{ peinture.titre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ peinture.titre }}</h5>
                        <p class="card-text">{{ peinture.description }}</p>                        
                        <a href="{{ path('artist_show', {'slug': peinture.slug}) }}" class="btn btn-primary">Plus de détails</a>
                        <a href="{{ path('artist_edit', {'slug': peinture.slug}) }}" class="btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            
                <p class="text-center">Aucun résultat</p>
            
        {% endfor %}
        </tbody>
    </div>

    <div class="d-flex justify-content-center m-3">
        <div><a href="{{ path('artist_new') }}" class="text-success m-5 h3">Ajouter une oeuvre à votre catalogue</a></div>
    </div>
</div>
{% endblock %}
