{% extends 'base.html.twig' %}

{% block title %}New Peintures{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('./cssAccueil/profil.css') }}">
{% endblock %}

{% block body %}

{% include "partials/navbarProfilArtist.html.twig" %}
<h3 class="text-center p-2">Ajouter une oeuvre</h3>
<div class="d-flex flex-column align-items-center">
    {{ include('artist/_form.html.twig') }}

    <div class="m-2">
        <a href="{{ path('artist_index-painting') }}" class="text-center text-danger">Retour</a>
    </div>
</div>
{% endblock %}
