{% extends 'base.html.twig' %}

{% block title %}Peintures{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
<div class="peinture-liste-show">

    <div class="bloc-peinture-show">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset("uploads/images/"~ peinture.fileImg) }}" class="card-img-top" alt="{{ peinture.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ peinture.titre }}</h5>
                <p class="card-text">{{ peinture.description }}</p>       
                <div>
                    <h5>Dimenssion du tableau</h5>
                    <p>Hauteur en cm : {{ peinture.hauteur }}</p>
                    <p>Largeur en cm : {{ peinture.largeur }}</p>
                    <h5>En vente :</h5>
                    {% if peinture.enVente %}
                        Oui
                        {% else %}
                        Non
                    {% endif %}
                    <h5>Date de publication</h5>
                    <p>{{ peinture.createdAt.format('d/m/Y') }}</p>
                </div>         
            </div>
        </div>
    </div>

</div>
<div class="d-flex flex-column justify-content-center align-items-center">

    <div><a href="{{ path('artist_edit', {'slug': peinture.slug}) }}" class="btn btn-warning m-2">Modifier l'oeuvre</a></div>

    {{ include('artist/_delete_form.html.twig') }}

    <div><a href="{{ path('artist_index-painting') }}" class="text-danger m-2">Retour</a></div>
</div>
{% endblock %}
