{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} {%
block body %} {% include "partials/navbarHome.html.twig" %}
<div class="blog-articles">
  <h1 class="m-2">{{ title }}</h1>
  <div class="blog-liste">
    {% for post in posts %}
    <div class="blog-post m-1">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">{{ post.titre }}</h5>
          <p>{{ post.content|slice(0,87) }}</p>
          <a
            href="{{ path('app_show_blog', { slug: post.slug }) }}"
            class="btn btn-primary"
            >Plus de détails</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% set pages = ((total / limit)|round(0, 'ceil')) %}

  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item {{ page == 1 ? 'disabled' : '' }}">
        <a
          class="page-link"
          href="{{ (page > 1 ) ? '?page='~ (page - 1) : '' }}"
          >Previous</a
        >
      </li>
      {% for item in 1..pages %}
      <li class="page-item {{ page == item ? 'active' : '' }}">
        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
      </li>
      {% endfor %}
      <li class="page-item {{ page == pages ? 'disabled' : '' }}">
        <a
          class="page-link"
          href="{{ (page < pages ) ? '?page='~ (page + 1) : '' }}"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
