{% extends 'base.html.twig' %}

{% block title %}Gestion des comptes{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
<h1 class="text-center m-2">Les utilisateurs du site</h1>
<div class="table-responsive m-2">
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>Email</th>               
                <th>Prenom</th>
                <th>Nom</th>
                <th>Compte validé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-secondary">
                <td>{{ user.email }}</td>                                
                <td>{{ user.prenom }}</td>
                <td>{{ user.nom }}</td>                
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">Voir plus</a>                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>   
{% endblock %}
