{% extends 'base.html.twig' %}

{% block title %}Admin User{% endblock %}

{% block body %}
{% include "partials/navbarAdmin.html.twig" %}
    <h2 class="text-center m-3">Compte utilisateur de {{user.prenom }} {{ user.nom }}</h2>
<div class="table-responsive m-2">
    <table class="table">
        <tbody>           
            <tr class="table-secondary">
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="table-secondary">
                <th>Rôle</th>
                <td>Rôle artiste</td>
            </tr>            
            
            <tr class="table-secondary">
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>            
        </tbody>
    </table>
</div>

<div class="d-flex flex-column align-items-center">
    {{ include('admin_user/_delete_form.html.twig') }}

    <div><a href="{{ path('admin_user_index') }}" class="text-dark m-2">Retour</a></div> 
</div>    
{% endblock %}
