{% extends 'base.html.twig' %}

{% block title %}Profil artiste{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}

<h1 class="text-center m-2">Modifier vos informations personnelles</h1>
<div class="container">
    {{ form_start(form) }}
        
        <div class="form-group m-2">
            <label class="custom-control-label" for="nom">Nom :</label>
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.nom) }} 
        </div>
        <div class="form-group m-2">
            <label class="custom-control-label" for="prenom">Prénom :</label>
            {{ form_widget(form.prenom, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.prenom) }}
        </div>
        <div class="form-group m-2">
            <label class="custom-control-label" for="aPropos">Présentez-vous :</label>
            {{ form_widget(form.aPropos, { 'attr': {'class': 'form-control', 'rows': 3} }) }}
            {{ form_errors(form.aPropos) }}
        </div>
        <div class="form-group m-2">
            <label class="custom-control-label" for="aPropos">Votre email :</label>
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.email) }}
        </div>        
                
        <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Modifier</button>                
        </div>

    {{ form_end(form) }}
</div>
<div class="text-center m-2">
                <a href="{{ path("artist_profil") }}" class="text-danger">Retour</a>                
</div>
{% endblock %}