{% extends 'base.html.twig' %}

{% block title %}Profil artiste{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}
<div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center m-2">
        
        <h3 class="text-center">Bonjour, {{ user.prenom }} !</h3>

        <div class="d-flex flex-column justify-content-center align-items-center m-3">
            <div><a class="btn btn-info rounded m-2" href="{{ path("artist_blogposts_index") }}">Voir vos posts sur le blog</a></div>
            <div><a class="btn btn-info rounded m-2" class="btn" href="{{ path("artist_index-painting") }}">Voir vos peintures</a></div>
        </div>
        <div class="m-2">
            <h3 class="m-2">Modifier vos infomations personnelles</h3>
            <p class="text-center m-2"><a class="btn btn-dark rounded" href="{{ path('artist_modifier_profil', {'id': user.id}) }}">Modifier</a></p>     
        </div>

        <div class="m-2">
            <h3 class="m-2">Changer votre mot de passe</h3>
            <p class="text-center m-2"><a class="btn btn-warning rounded" href="{{ path('artist_modifier_password', {'id': user.id}) }}">Modifier le mot de passe</a></p>        
        </div>
    </div>
</div>

{% endblock %}