{% extends 'base.html.twig' %}

{% block title %}Profil artiste{% endblock %}

{% block body %}
{% include "partials/navbarProfilArtist.html.twig" %}

<h1 class="text-center m-2">Modifier votre mot de passe</h1>
<div class="container">
    {{ form_start(form) }}    
        
        <div class="form-group m-2">
            <label for="password" class="col-sm-2 col-form-label">Mot de passe :</label>
            {{ form_widget(form.plainPassword.first, {
            'attr': {'class': 'form-control', "autocomplete": "on"}
            }) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group m-2">
            <label class="custom-control-label" for="password">Confirmez votre mot de passe :</label>
            {{ form_widget(form.plainPassword.second, {
            'attr': {'class': 'form-control', "autocomplete": "on"}
            }) }}
            {{ form_errors(form.plainPassword.second) }}                
        </div>
        
        <div class="text-center m-2">
                <button type="submit" class="btn btn-primary">Modifier</button>                
        </div>        

    {{ form_end(form) }}
</div>
<div class="text-center m-2">
                <a href="{{ path("artist_profil") }}" class="text-danger">Retour</a>                
</div>
{% endblock %}