.img-background {
  background-image: url("../img/water.jpg");
  width: 100%;
  height: 25rem;
}
.bouton-deux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(24, 24, 24);
  margin: 2px;
  text-decoration: none;
}
.bouton-deux:hover {
  background-color: rgb(59, 59, 59);
  color: rgb(255, 133, 62);
}
.bouton-un {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(24, 24, 24);
  margin: 2px;
  width: 15rem;
  height: 4rem;
  text-decoration: none;
}
.bouton-un:hover {
  background-color: rgb(59, 59, 59);
  color: rgb(255, 133, 62);
}
.accueil-text {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(17, 17, 85);
  width: 100%;
  margin: 0;
  padding: 0;
}
.accueil-text p {
  margin: 0 auto;
  padding: 1em;
  width: 45rem;
}
.accueil-text h3 {
  padding: 1em;
}
