<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Accueil{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}     
        {% block javascripts %}           
            
        {% endblock %}   
    </head>
    <body>
        
        {% block body %}
            
    
        {% endblock %}   
    {{ encore_entry_script_tags('app') }}
    </body>
</html>
