.bloc-about {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: rgb(158, 184, 255);
  box-shadow: 0 0 10px rgba(1, 1, 1);
  border-radius: 10px;
  width: 31rem;
  padding: 0 0.8em 0 0.8em;
  margin-top: 1em;
}
.bloc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.bloc-p {
  width: 100%;
  text-align: justify;
  padding: 0.5em;
  margin: 0.2em;
  background-color: rgb(235, 225, 225);
  border-radius: 3px;
  font-size: 19px;
}
h1 {
  text-decoration: underline;
  font-size: 3em;
}
body {
  margin: 0;
  padding: 0;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 600px) {
  .bloc-about {
    width: 100%;
    padding: 0.2em;
    margin: 0;
  }
  .bloc-p {
    width: 80%;
  }
}
