.blog-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
//partie commentaries
.blog-commentaires{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}