.peinture-liste {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em auto;
}
.bloc-peinture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bloc-peinture-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.peinture-liste-show {
  margin: 1em auto;
}
@media screen and (max-width: 800px) {
  .peinture-liste {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1em auto;
  }
}
